.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &--control-panel {
    height: 5rem;
    background-color: rgba(orange, .7);
    width: 100%;
  }

  &__first-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
}
