.project {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3rem;

  &__list {
    height: 17rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    margin-left: 4rem;
    transition: all .2s;
    padding-left: 1rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    position: relative;

    &:hover {
      box-shadow: 2px 2px 10px 0 rgba(46, 61, 73, 0.1);
      transform: scale(1.005);

      & .project__list--btn-delete {
        transform: translateX(-1.5rem);
        opacity: 1;
      }
    }

    &--item {
      margin-bottom: 2rem;
    }

    &--name {
      margin-left: 3rem;
    }

    &--btn-delete {
      position: absolute;
      right: 0rem;
      top: 1.5rem;
      transition: all .2s;
      opacity: 0;
    }
  }

  &__btn-add {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.74);
    align-self: flex-end;
    margin-right: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }
}

.new-project {

  &__title {
    font-size: 1.7rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  &__input {
    height: 3rem;
    margin-bottom: 1rem;
    width: 25rem;
    font-size: 1.7rem;
    font-weight: 300;

    &:focus {
      outline: none;
    }
  }
}

.popup__buttons {
  display: flex;
}

.btn {
  width: 10rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateX(-1rem);
  transition: all .2s;
  user-select: none;

  & span {
    margin-left: 1rem;
  }

  &:hover {
    color: rgb(3, 168, 124);
  }
}

.popup-label {
  font-size: 1.7rem;
  margin-bottom: 1.7rem;
  letter-spacing: 1px;
}
