*,
*::after,
*::before { 
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  color: #676b6d;
  font-family: 'Lato', 'Arial', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

li {
  list-style : none;
}

a {
  text-decoration: none;
}

.row {
  width: 114rem;
  margin: 0 auto;
  z-index: -1;
}

.app {
  height: 100vh;
  padding: 5rem 0rem 5rem 0rem;
  display: flex;
  flex-direction: row;
}
